<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/assets/css/styles.css"/>
  <title>Create a Fruit</title>
</head>
<body>
  <h1>Select a New Fruit!</h1>
  <form action="/fruits" method="POST">
    <label for="text">fruit Text:</label>
    <input type="text" name="text" id="text" />
    <label for="isReadyToEat">Did you eat it?</label>
    <input type="checkbox" name="isReadyToEat" id="isReadyToEat" />
    <button type="submit">Add Fruit</button>
  </form>
  <a href="/fruits/">Back to Fruits</a>
</body>
</html>